body {
    background-image: url('../images/bg.png');
    font-family: 'Rubik', sans-serif;
    margin: 50px;
    padding: 0px;
}
.panel {
    background-color: #fff;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-body {
    padding: 15px;
}
.panel-danger {
    border-color: #d81e1f;
}
.panel-danger > .panel-heading , .panel-footer {
    background-color: #e85a5b;
    border-color: #d81e1f;
    color: #333;
}
.panel-title {
  color: #ffffff;
}
.panel-heading a {
  color: #ffffff;
}
.panel-footer span {
  color: #ffffff;
}
.pagination > li > a, .pagination > li > span {
  padding: 5px;
  background: #d81e1f;
  border: 1px solid #e85a5b;
  border-radius: 50% !important;
  margin: 0 1px; 
}
.pagination:hover > li > a, .pagination > li > span {
  background: #d81e1f;
  border: 1px solid #e85a5b;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.label-gold {
    background-color: #ffd700;
}
.label-silver {
    background-color: #c0c0c0;
}
.label-bronze {
    background-color: #cd7f32;
}
.label-default {
    background-color: transparent;
}